In [1]:
import pandas as pd

In [2]:
%%writefile my_data.csv
Sample ID;Age;Salary;Student;Buy car
1;< 30;High;Yes;No
2;< 30;Low;Yes;No
3;30 - 40;Medium;No;Yes
4;> 40;Medium;No;No
5;> 40;Low;No;No
6;< 30;Low;No;No
7;30 - 40;High;No;Yes
8;30 - 40;Low;Yes;No
9;> 40;High;Yes;Yes
10;> 40;Medium;Yes;Yes
11;> 40;Medium;Yes;No
12;30 - 40;Low;Yes;No
13;30 - 40;High;No;Yes
14;< 30;Medium;No;Yes

Writing my_data.csv

#Read the dataset

In [3]:
df_ = pd.read_csv('my_data.csv', delimiter=';', index_col="Sample ID")
df_

               Age  Salary Student Buy car
Sample ID
1             < 30    High     Yes      No
2             < 30     Low     Yes      No
3          30 - 40  Medium      No     Yes
4             > 40  Medium      No      No
5             > 40     Low      No      No
6             < 30     Low      No      No
7          30 - 40    High      No     Yes
8          30 - 40     Low     Yes      No
9             > 40    High     Yes     Yes
10            > 40  Medium     Yes     Yes
11            > 40  Medium     Yes      No
12         30 - 40     Low     Yes      No
13         30 - 40    High      No     Yes
14            < 30  Medium      No     Yes

In [4]:
df_ = df_.replace({'Age': {'< 30': 0, '30 - 40': 1, '> 40': 2}})
df_ = df_.replace({'Salary': {'High': 2, 'Medium': 1, 'Low': 0}})
df_ = df_.replace({'Student': {'Yes': 1, 'No': 0}})
df_ = df_.replace({'Buy car': {'Yes': 1, 'No': 0}})
df_

           Age  Salary  Student  Buy car
Sample ID
1            0       2        1        0
2            0       0        1        0
3            1       1        0        1
4            2       1        0        0
5            2       0        0        0
6            0       0        0        0
7            1       2        0        1
8            1       0        1        0
9            2       2        1        1
10           2       1        1        1
11           2       1        1        0
12           1       0        1        0
13           1       2        0        1
14           0       1        0        1

# Extract the train, test dataset

In [5]:
train_set = df_.iloc[:10]
X_train = train_set.loc[:,df_.columns != 'Buy car']
y_train = train_set.loc[:,df_.columns == 'Buy car']
test_set = df_.iloc[10:]
X_test = test_set.loc[:,df_.columns != 'Buy car']
y_test = test_set.loc[:,df_.columns == 'Buy car']

In [6]:
X_train,y_train

(           Age  Salary  Student
 Sample ID
 1            0       2        1
 2            0       0        1
 3            1       1        0
 4            2       1        0
 5            2       0        0
 6            0       0        0
 7            1       2        0
 8            1       0        1
 9            2       2        1
 10           2       1        1,            Buy car
 Sample ID
 1                0
 2                0
 3                1
 4                0
 5                0
 6                0
 7                1
 8                0
 9                1
 10               1)

In [7]:
X_test,y_test

(           Age  Salary  Student
 Sample ID
 11           2       1        1
 12           1       0        1
 13           1       2        0
 14           0       1        0,            Buy car
 Sample ID
 11               0
 12               0
 13               1
 14               1)

#Declare ML model, train + infer

In [8]:
from sklearn import svm

In [9]:
clf = svm.SVC()
clf.fit(X_train, y_train)

# get support vectors
clf.support_vectors_

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([[0., 2., 1.],
       [2., 1., 0.],
       [2., 0., 0.],
       [0., 0., 0.],
       [1., 0., 1.],
       [1., 1., 0.],
       [1., 2., 0.],
       [2., 2., 1.],
       [2., 1., 1.]])

In [10]:
# get indices of support vectors
clf.support_

array([0, 3, 4, 5, 7, 2, 6, 8, 9], dtype=int32)

In [11]:
# get number of support vectors for each class
clf.n_support_

array([5, 4], dtype=int32)